@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap");

$primary: #1a2456;
$secondary: #ff8b68;
$orange: #ff501c;
$cream: #f0efed;
$dark: #080b1b;
$link: #efc2b3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // means that default font-size is 10px(if using rem or em units for easier calculation)
}

body {
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
}
