@import "config";

/*HEADER*/

.navbar {
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  left: 1.5em;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.7em;
  background: $primary;
  z-index: 999;

  &__logo {
    color: $link;

    &:hover {
      color: $secondary;
    }
  }

  &__nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__item {
      margin-left: 2em;

      &:nth-child(2):hover {
        position: relative;

        .dropdown {
          display: block;
          position: absolute;
          top: 2rem;
        }
      }
    }

    &__link {
      color: $link;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;

      &:hover {
        color: $secondary;
      }
    }
  }
}

.dropdown {
  display: none;
  background: white;
  width: 20rem;
  box-shadow: 0 0 2rem 0 rgba($color: #000000, $alpha: 0.3);

  &__link {
    color: black;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;

    &:hover {
      background: rgb(214, 214, 214);
    }
  }
}

/*HERO SECTION*/

.section {
  &__hero {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/shop-cta-xl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 4rem;

    &__content {
      height: 100%;
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      float: right;
      justify-content: center;
      padding-left: 8rem;
      padding-top: 6rem;

      h1 {
        font-size: 3.6rem;
        width: 40rem;
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 0.3rem;
        margin-bottom: 1rem;
        line-height: 1.2;
      }
      p {
        font-size: 1.6rem;
        color: $primary;
      }
    }
  }

  &__banner {
    text-align: center;
    width: 100vw;
    height: auto;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 4rem;
    padding-bottom: 35rem;
    margin-bottom: 4rem;

    h2 {
      font-size: 3.2rem;
      color: $primary;
      letter-spacing: 0.4rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.8rem;
      font-weight: 300;
      color: $primary;
    }
  }
}

/* FOOTER*/

.footer {
  background: $primary;
  width: 100%;
  padding: 3rem 8rem 7rem;

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $link;
  }

  &__monogram {
    max-width: 8rem;
  }

  &__headline {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__link {
    font-size: 1.2rem;
    color: $link;
    margin-bottom: 0.4rem;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }

  &__subscribe {
    max-width: 28rem;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    form {
      margin-bottom: 3rem;
    }

    .email {
      background: transparent;
      border: 1px solid $link;
      outline: 0;
      width: 70%;
      padding: 0.4rem;
      font-size: 1.2rem;
      color: $link;

      &:active {
        background: none;
        border: 1px solid $link;
        border-radius: 0;
      }
    }

    .submit-btn {
      border-radius: 5rem;
      border: 0;
      border-color: $link;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.6rem 1.3rem;
      cursor: pointer;
      background: $link;

      &:hover {
        background: $secondary;
      }
    }

    .fab {
      font-size: 2rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }

    h6 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  &__inline {
    display: inline-block;
    margin: 0 0.4rem;
    font-size: 0.8rem;
    color: $secondary;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }
}
